<div class="container">
    <h2 class="h1-responsive font-weight-bold text-center my-4">-- Liên Hệ --</h2>
    <p class="text-center w-responsive mx-auto mb-5">
        Nếu có thắc mắc, xin gửi tại đây, chúng tôi sẽ phản hồi và giải đáp sớm nhất.
    </p>
    <div class="row">
        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form [formGroup]="contactForm" (ngSubmit)="sendContactForm()">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" formControlName="name" class="form-control">
                            <label for="name" class="">Họ Tên</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" formControlName="email" class="form-control">
                            <label for="email" class="">Email</label>
                        </div>
                    </div>
                    <!--Grid column-->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" formControlName="subject" class="form-control">
                            <label for="subject" class="">Chủ đề</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="message" formControlName="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Nội Dung</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->
                <div class="text-center text-md-left">
                    <button type="submit" class="btn btn-primary">Gửi</button>
                    <p class="text-danger">{{ message }}</p>
                </div>
            </form>
            <div class="status"></div>
        </div>
        <!--Grid column-->
        <div class="col-md-3 text-center">
            <img style="width: 400px; height: 300px;" src="https://filesdata.cadn.com.vn/filedatacadn/media//data_news/Image/2020/th12/ng28/07.jpg" />
        </div>
        <!--Grid column-->
    </div>
</div>
