<div class="container">
    <h2 class="h1-responsive font-weight-bold text-center my-4">-- Liên Hệ --</h2>
    <p class="text-center w-responsive mx-auto mb-5">
        Nếu có thắc mắc, xin gửi tại đây, chúng tôi sẽ phản hồi và giải đáp sớm nhất.
    </p>
    <div class="row">
        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" (ngSubmit)="sendContactForm()">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control" [(ngModel)]="newData.name">
                            <label for="name" class="">Họ Tên</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control" [(ngModel)]="newData.email">
                            <label for="email" class="">Email</label>
                        </div>
                    </div>
                    <!--Grid column-->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control" [(ngModel)]="newData.topic">
                            <label for="subject" class="">Chủ đề</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" [(ngModel)]="newData.detail"></textarea>
                            <label for="message">Nội Dung</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->
                <div class="text-center text-md-left">
                    <button type="submit" class="btn btn-primary">Gửi</button>
                    <p class="text-danger">{{message}}</p>
                </div>
            </form>
            <div class="status"></div>
        </div>
        <!--Grid column-->
        <div class="col-md-3 text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3738.7034576886513!2d106.17742847462816!3d20.436280907865477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135e7471458090d%3A0xc7cf9a0dbd3dad0d!2zU8OibiB24bqtbiDEkeG7mW5nIFRoacOqbiBUcsaw4budbmc!5e0!3m2!1svi!2s!4v1686189593064!5m2!1svi!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!--Grid column-->
    </div>
</div>
