<div class="row">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">-- Danh Sách Cầu Thủ --</span></h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span>Cầu thủ</span></th>
                                    <th><span>Ngày Sinh</span></th>
                                    <th class="text-center"><span>Tình Trạng</span></th>
                                    <th><span>Số bàn thắng</span></th>
                                    <th><span>Số thẻ đỏ</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                        <a href="#" class="user-link">Mila Kunis</a>
                                        <span class="user-subhead">Tiền đạo</span>
                                    </td>
                                    <td>
                                        2013/08/08
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-default">Bình thường</span>
                                    </td>
                                    <td>
                                        <span class="label label-default">13</span>
                                    </td>
                                    <td>
                                        <span class="label label-default">0</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                                        <a href="#" class="user-link">George Clooney</a>
                                        <span class="user-subhead">Hậu vệ cánh</span>
                                    </td>
                                    <td>
                                        2013/08/12
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-success">Chấn thương háng</span>
                                    </td>
                                    <td>
                                        <span class="label label-default">0</span>
                                    </td>
                                    <td>
                                        <span class="label label-default">0</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                                        <a href="#" class="user-link">Ryan Gossling</a>
                                        <span class="user-subhead">Tiền vệ phòng ngự</span>
                                    </td>
                                    <td>
                                        2013/03/03
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-danger">Treo giò</span>
                                    </td>
                                    <td>
                                        <span class="label label-default">0</span>
                                    </td>
                                    <td>
                                        <span class="label label-default">0</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">-- Danh Sách Ban Huấn Luyện --</span></h2>
    </div>
</div>

