<div class="row">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">-- Danh Sách Cầu Thủ --</span></h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span>Cầu thủ</span></th>
                                    <th><span>Tuổi</span></th>
                                    <th class="text-center"><span>Tình Trạng</span></th>
                                    <th><span>Số bàn thắng</span></th>
                                    <th><span>Số thẻ đỏ</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of playerData">
                                  <td>
                                    <img [src]="user.safeImg" class="d-block w-100" alt="...">
                                    <a href="#" class="user-link">{{ user.name }}</a>
                                    <span class="user-subhead">{{ user.position }}</span>
                                  </td>
                                  <td>{{ user.age }}</td>
                                  <td class="text-center">
                                    <span class="user-subhead">{{ user.status }}</span>
                                  </td>
                                  <td>
                                    <span class="label label-default">{{ user.scrored }}</span>
                                  </td>
                                  <td>
                                    <span class="label label-default">{{ user.redCard }}</span>
                                  </td>
                                </tr>
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">-- Danh Sách Ban Huấn Luyện --</span></h2>
    </div>
</div>

