<div class="row d-flex justify-content-center align-items-center rows">
    <div class="col-md-6">
        <div class="card">
            <div class="text-center">
                <img src="https://i.imgur.com/Dh7U4bp.png" width="200">
                <span class="d-block mt-3">Đăng ký để trở thành member của NDFC<br>Nhận thông báo mỗi khi có thông tin mới</span>
                <div class="mx-5">
                   <div class="input-group mb-3 mt-4">
                    <input type="text" class="form-control" placeholder="Enter name" aria-label="Recipient's username" aria-describedby="button-addon2">
                      <input type="text" class="form-control" placeholder="Enter email" aria-label="Recipient's username" aria-describedby="button-addon2">
                      <button class="btn btn-success border-rad" type="button" id="button-addon2">Đăng ký</button>
                    </div>
                </div>            
            </div>        
        </div>
    </div>
</div>
