<div class="container-fluid mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px; background-image: url('{{ newsDetail.image }}'); background-size: cover; background-position: center;">
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
      <h1 class="font-weight-semi-bold text-uppercase mb-3">{{ newsDetail.title }}</h1>
      <div class="d-inline-flex">
        <p class="m-0">Đăng Lúc: {{ newsDetail.createOn }}</p>
      </div>
    </div>
    <div style="padding-left: 0.5cm">
      <div [innerHTML]="newsDetail.detail"></div>
    </div>
  </div>
  
  <div class="container">
    <div class="be-comment-block">
      <h1>Bình Luận</h1>

      <div *ngFor="let comment of commentDetail" class="be-comment">
        <div class="be-img-comment">
          <a href="blog-detail-2.html">
            <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/8/89/Nam_%C4%90%E1%BB%8Bnh_FC_logo.svg/1200px-Nam_%C4%90%E1%BB%8Bnh_FC_logo.svg.png" class="be-ava-comment">
          </a>
        </div>
        <div class="be-comment-content">
          <span class="be-comment-name">
            <p>{{ comment.userId }}</p>
          </span>
          <span class="be-comment-time">
            <i class="fa fa-clock-o"></i>
            {{ comment.createdAt }}
          </span>
          <p class="be-comment-text">
            {{ comment.content }}
          </p>
        </div>
      </div>
      <form class="form-block" (ngSubmit)="submitComment()">
        <div class="row">
          <div class="col-xs-12">									
            <div class="form-group">
              <textarea class="form-input" required="Không được để trống!!!" placeholder="Bạn đang nghĩ gì?" name="comment" [(ngModel)]="comment"></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-primary pull-right">Đăng Bình Luận</button>
        </div>
      </form>
      
    </div>
    </div>
  
  

