<body>
  <nav class="navbar">
      <!-- LOGO -->
      <div class="logo">Angular</div>
  
      <!-- NAVIGATION MENU -->
      <ul class="nav-links">
        <!-- NAVIGATION MENUS -->
        <div class="menu">
          <li><a routerLink="/khoa">Xem Khoa</a></li>
          <li><a routerLink="/hang">Xem Brand</a></li>
          <li><a routerLink="/gio">Xem Giờ</a></li>
          <li class="services">
            <a href="/">Tài Khoản</a>
            <!-- DROPDOWN MENU -->
            <ul class="dropdown">
              <li><a href="/dangnhap">Đăng Nhập </a></li>
              <li><a href="/">Đăng Ký</a></li>
            </ul>
          </li>
          <li><a href="/">Người Dùng</a></li>
        </div>
      </ul>
    </nav>
  <main>
  <router-outlet></router-outlet>
  </main>
  <footer>
      <div>©2023 Tự học Angular cơ bản</div>
  </footer>
  </body>