<div class="row">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">-- Danh Sách Bài Viết --</span></h2>
      </div>
          <div class="row">
            <div class="col-md-3" *ngFor="let item of newsData">
              <div class="card" style="width: 18rem;">
                <img [src]="item.safeImg" class="d-block w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ item.title }}</h5>
                  <p class="card-text">{{ item.description }}.</p>
                  <a href="/baiviet?id={{ item.id }}" class="btn btn-primary">Xem chi tiết</a>
                </div>
              </div>
            </div>
       </div>
</div>