<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Trang không tồn tại</h2>
                <div class="error-details">
                    Xin lỗi, trang bạn tìm kiếm đang không tồn tại trong hệ thống!
                </div>
                <div class="error-actions">
                    <a routerLink="/trangchu" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Về trang chủ</a><a routerLink="/lienhe"class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Gửi phản hồi </a>
                </div>
            </div>
        </div>
    </div>
</div>
